
@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}

.header{
    width: 1920px;
    height: 405px;
    background: url(../images/Login/HeaderBgModalForms.png) no-repeat center center / cover;
}

.headercontainer{
    width: 1213px;
    height: 40px;
    padding: 61px 0px;
    margin: 0px 339px 231px 368px;
    display: flex;
    justify-content: space-between;
}

/* HEADER */

.headerlogo{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.headernav{
    width: 376px;
    display: flex;
    justify-content: space-between;
}

.navitem{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 9px 0px;
}

.headerlog{
    width: 282px;
    display: flex;
    justify-content: space-between;
    padding: 2px 0px;
}

.logbtn{
    width: 132px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13.4237px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px 16px;
    margin-right: 25px;
}

.logbtn2{
    width: 132px;
    padding-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13.4237px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #BB6DF3;
    background: #FFFFFF;
    border-radius: 30px;    
}

/* SECTION 1 */

.faqcontainer{
    height: 1545px;
    width: 1920px;
    background: url(../images/FAQ/BackGroundN.png) no-repeat;
    margin-top: -160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.faqcontainer .faq__div1{
    text-align: left;
    display: flex;
    width: 1200px;
    height: 87px;
    align-items: center;
    padding: 0 40px 0 54px;
    justify-content: space-between;
    margin-bottom: 13px;
}

.faqcontainer .faqdiv1 .faqtext{
    font-weight: 700;
    font-size: 30px;
    font-family: "Comfortaa", sans-serif;
    color: #46637e; 
}

.faqcontainer .B2E3{
    background: linear-gradient(90deg, #B2E3FF 0%, #DFBFFF 100%);
}

.faqcontainer .B2E4{
    background: linear-gradient(90deg, #B2E4FF 0%, #DFBFFF 100%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.faqcontainer .faqname{
    color: #3b668d;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.905em;
    margin: 15px 0 124px 0;
}

.faqcontainer .faqtitle{
    text-transform: uppercase;
    color: #3B668D; 
    font-size: 72px; 
    font-weight: 900; 
    letter-spacing: 0.405em; 
    font-family: "Roboto", sans-serif;
    margin-top: 80px;
}

.faqdiv2{
    background: url(../images/FAQ/Plus.png) no-repeat center center / cover;
    width: 31px;
    height: 31px;
}

.faqquestions{
    display: flex;
    flex-direction: column;
}

.faqquestions:hover .faqanswer{
    width: 1103px;
    margin: 40px auto;
    text-align: left;
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    color: #878787;
    transition: 0.5s all;
}

.faqquestions:hover .faqdiv1{
    background: linear-gradient(90deg, #B1E3FF 0%, #DFBEFF 100%);
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: 0.5s all;
}

.faqquestions:hover .faqdiv2{
    background: url(../images/FAQ/Minus.png) no-repeat center center / cover;
    width: 31px;
    height: 2px;
}

.faqanswer{
    text-align: left;
    font-size: 0.5px;
    margin: 0 auto;
    width: 1103px;
    font-family: "Comfortaa", sans-serif;
    color: transparent;
    transition: 0.5s all;
}

/*  SECTION 1 */

.downloadsection{
    width: 1920px;
    height: 409px;
}

.contentwrapper{
    width: 1213px;
    height: 100%;
    margin: 0 auto;
}

.downloadcontainer{
    width: 1920px;
    height: 261px;
    background: url(../images/index/Sec4Bg.png) no-repeat center center / cover;
}

.downloadblock{
    width: 100%;
    height: 106px;
    display: flex;
}

.blockscontainer{
    display: flex;
}

.blocktexts{
    margin-left: 30px;
    padding-top: 12px;
}

.blocknumber{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 47px;
    color: #425B8C;   
}

.blocktext{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    margin-top: 16px;
    color: #718DC2;
    white-space: nowrap;
}

.blockicon{
    padding-top: 20px;
    width: 74px;
    height: 74px;
}

/* FOOTER  */

.footersection{
    width: 1920px;
    height: 1085px;
    background: url(../images/index/FooterBg.png) no-repeat center center / cover;
}

.footercontainer{
    padding-top: 448px;
    width: 1600px;
    height: 578px;
    margin: 0 auto;
}

.columnscontainer{
    width: 1467px;
    height: 407px;
    margin-bottom: 79px;
    display: flex;
}

.column1container{
    width: 422px;
    height: 407px;
    margin-right: 167px;
}

.column2container{
    width: 418px;
    height: 407px;
    display: flex;
    flex-direction: column;
    margin-right: 174px;
}

.column3container{
    width: 285px;
    height: 407px;
    display: flex;
    flex-direction: column;
}

.columntitle{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.columntext{
    width: 418px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

.columnshare{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-bottom: 20px;
}



.columnemail{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

.column3text{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.copyrighttext{
    margin: 65px 456px 0px 456px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
}