
@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}

/* Header */

.header{
    width: 1920px;
    height: 405px;
    background: url(../images/Login/HeaderBgModalForms.png) no-repeat center center / cover;
}

.headercontainer{
    width: 1213px;
    height: 40px;
    padding: 61px 0px;
    margin: 0px 339px 231px 368px;
    display: flex;
    justify-content: space-between;
}

.headerlogo{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.headernav{
    width: 376px;
    display: flex;
    justify-content: space-between;
}
.navitem{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 9px 0px;
}

.headerlog{
    width: 282px;
    display: flex;
    justify-content: space-between;
    padding: 2px 0px;
}

.logbtn{
    width: 132px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13.4237px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px 16px;
    margin-right: 25px;
}

.logbtn2{
    width: 132px;
    padding-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13.4237px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #BB6DF3;
    background: #FFFFFF;
    border-radius: 30px;    
}

/* SECTION 1 */

.profilecontainer{
    width: 1920px;
    height: 1720px;
    background: url(../images/Profile/BackGroundN.png) no-repeat;
    margin-top: -160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profilecontainer .profileborder{
    display: flex;
    width: 313px;
    height: 164px;
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    align-items: center;
    margin: 0 71px; 
}

.profilecontainer div{
    display: flex;
    align-items: center;
}

.profilecontainer .profiledivs{
    display: flex;
    flex-wrap: wrap;
    margin: 100px -71px;
}

.profilepinktext{
    font-weight: 400;
    font-size: 24px;
    color: #f36dd4;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

.profilebluetext{
    font-weight: 400;
    font-size: 18px;
    color: #3b668d;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

.profilecontainer div img{
    width: 114px;
    height: 124px;
    margin-left: 20px;
}

.profilecontainer div div div{
    display: flex;
    flex-direction: column;
}

.profilecontainer .profiletitle{
    text-transform: uppercase;
    color: #3B668D; 
    font-size: 72px; 
    font-weight: 900; 
    letter-spacing: 0.405em; 
    font-family: "Roboto", sans-serif;
    margin-top: 80px;
}

.profilecontainer .profilename{
    color: #3b668d;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.905em;
    margin-top: 15px;
}

.profilecontainer input[type="email"]{
    width: 716px;
    height: 100px;
    margin-bottom: 20px;
    border: 0px;
    outline: none;
    background-color: #f3f3f3;
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    border-radius: 61px;
    padding-left: 40px;
    font-family: "Comfortaa", sans-serif;
}

.profilecontainer input[type="password"]{
    width: 716px;
    height: 100px;
    margin-bottom: 20px;
    border: 0px;
    outline: none;
    background-color: #f3f3f3;
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    border-radius: 61px;
    padding-left: 40px;
    font-family: "Comfortaa", sans-serif;
}

.profilecontainer input[type="password"]::-webkit-input-placeholder{
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    font-family: "Comfortaa", sans-serif;
}

.profilecontainer input[type="email"]::-webkit-input-placeholder{
    color: #adadad;
    font-size: 24px;
    font-weight: 700; 
    font-family: "Comfortaa", sans-serif;
}

.profilebtn{
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border-radius: 62px;
    margin-left: -260px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 79px;
    margin-top: -20px;
    transition: 0.5s all;
}

.profiletext{
    width: 214px;
    text-align: right;
    color: #3b3f8d;
    font-size: 24px;
    font-weight: 700;
    font-family: "Comfortaa", sans-serif;
    margin-right: 44px;
}

.profileinstruction{
    color: #bb6df3;
    font-size: 16px;
    font-weight: 700;
    font-family: "Comfortaa", sans-serif;
    margin: 31px 0 45px 50px;
}

.profilebtn2{
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border-radius: 62px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 79px;
    transition: 0.5s all;
}

.profilegraytext{
    font-weight: 700;
    color: #adadad;
    font-size: 18px;
    font-family: "Comfortaa", sans-serif;
}

/* FOOTER*/

.footersection{
    width: 1920px;
    height: 1085px;
    background: url(../images/index/FooterBg.png) no-repeat center center / cover;
}

.footercontainer{
    padding-top: 448px;
    width: 1600px;
    height: 578px;
    margin: 0 auto;
}

.columnscontainer{
    width: 1467px;
    height: 407px;
    margin-bottom: 79px;
    display: flex;
}

.column1container{
    width: 422px;
    height: 407px;
    margin-right: 167px;
}

.column2container{
    width: 418px;
    height: 407px;
    display: flex;
    flex-direction: column;
    margin-right: 174px;
}

.column3container{
    width: 285px;
    height: 407px;
    display: flex;
    flex-direction: column;
}

.columntitle{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.columntext{
    width: 418px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

.columnshare{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.columnemail{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

.column3text{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.copyrighttext{
    margin: 65px 456px 0px 456px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
}